{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'base.css' %}" />
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/home/registration/">Registration</a>
                <a href="/home/login/">Login</a>
                <a href="/home/logout/">Logout</a>
            </li>
        </ul>
    </nav>
    {% block body %} {% endblock %}
</body>
</html>